@model SistemaGestionCEM.Datos.DETALLE_ALUMNO

@{
    ViewBag.Title = "GenerarCertificadoAprobacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GenerarCertificadoAprobacion</h2>

<div>
    <h4>DETALLE_ALUMNO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_ALUMNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_ALUMNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALUMNO.COD_ALUMNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALUMNO.COD_ALUMNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROGRAMA_ESTUDIO.NOMBRE_PROGRAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROGRAMA_ESTUDIO.NOMBRE_PROGRAMA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_DETALUMNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
