@model IEnumerable<SistemaGestionCEM.Datos.POSTULACION_PROGRAMA>

@{
    ViewBag.Title = "Ver Programas";
}

<h2>Ver Programas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PROGRAMA_ESTUDIO.FECHA_LIMITE_POSTULACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CENTRO_ESTUDIO_LOCAL.NOMBRE_CENTRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROGRAMA_ESTUDIO.NOMBRE_PROGRAMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROGRAMA_ESTUDIO.PAIS.DESCRIPCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROGRAMA_ESTUDIO.FECHA_LIMITE_POSTULACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENTRO_ESTUDIO_LOCAL.NOMBRE_CENTRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROGRAMA_ESTUDIO.NOMBRE_PROGRAMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROGRAMA_ESTUDIO.PAIS.DESCRIPCION)
        </td>
        <td>
            @Html.ActionLink("Ver Detalles", "DetallesPrograma", new { id=item.COD_POSTULACIONPROGRAMA })
        </td>
    </tr>
}

</table>
