@model IEnumerable<SistemaGestionCEM.Datos.DETALLE_NOTAS>

@{
    ViewBag.Title = "Editar Notas";
}

<h2>Editar Notas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DETALLE_ALUMNO.ALUMNO.PERSONA.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DETALLE_ALUMNO.ALUMNO.PERSONA.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTA4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROMEDIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DETALLE_ALUMNO.ESTADO_ALUMNO)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DETALLE_ALUMNO.ALUMNO.PERSONA.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DETALLE_ALUMNO.ALUMNO.PERSONA.APELLIDO)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.NOTA1)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.NOTA2)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.NOTA3)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.NOTA4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROMEDIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DETALLE_ALUMNO.ESTADO_ALUMNO)
        </td>


    </tr>
}

</table>


<div class="form-group">
    <div class="col-md-offset-6 col-md-10">
        <input type="submit" value="Guardar Cambios" class="btn btn-info" />
    </div>
</div>