@{ 
    string sesionActual = "";
    string nombre = "";

    if (Session["SesionActual"] != null)
    {
        sesionActual = Session["SesionActual"].ToString();
    }

    if (Session["Nombre"] != null)
    {
        nombre = Session["Nombre"].ToString();
    }
}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title - C.E.M.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device−width, user-scalable=no, initial−scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/CEMTemplate.css" type="text/css">
  
    <script src="~/Scripts/main.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
        <header>
            <h1 class="logoTitulo"><span class="glyphicon glyphicon-book"></span>Centro de Estudios Montreal</h1>
            <nav class="menu">

                <div class="container">
                    <div class="collapse navbar-collapse" id="myNavbar">

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Quienes somos", "About", "Home")</li>
                            <li>@Html.ActionLink("Contactanos", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Programas de Intercambio", "Programas", "Home")</li>
                        </ul>
                        @if (!nombre.IsEmpty())
                        {

                            <ul class="nav navbar-nav navbar-right ">
                                <li style="color:orangered"><b>Bienvenido, @nombre</b> @Html.ActionLink("Cerrar sesion", "LogOut", "Home")
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right ">
                                <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>

        </header>
        <div align="center" class="inner">
            @RenderSection("ContenidoCentral", false)
            @RenderBody()
        </div>

        <footer class="container-fluid text-center">
            <div class="right">

                <br />
                <p><b>DIRIGETE A LA OFICINA MÁS CERCANA</b></p>
                <p>Antonio Varas 666, Quebec</p>
                <p>1 819 821-7000</p>

            </div>
            <div class="left">

                <br />
                <p><b>¿Tienes dudas, sugerencias o reclamos?</b></p>
                <p>Escribenos a: contacto@cem.com</p>

            </div>
            <hr>
            <p><i>Copyright © Centro de Estudios Montreal - @DateTime.Now.Year</i></p>
        </footer>


        @RenderSection("scripts", required: false)
</body>
</html>