<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title - C.E.M.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device−width, initial−scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/CEMTemplate.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
       
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <a id="loguito" class="navbar-brand" style="color:black" href="#">Centro de Estudios Montreal</a>
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Quienes somos", "About", "Home")</li>
                    <li>@Html.ActionLink("Contactanos", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Programas de Intercambio", "nadaxd", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><span class="glyphicon glyphicon-log-in"></span>@Html.ActionLink("Iniciar sesión", "Login", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div id="CenterContent">
        @RenderSection("ContenidoCentral", false);
        @RenderBody()
    </div>

    <footer class="container-fluid text-center">
        <div>
            <article>
                <p><b>OFICINA MÁS CERCANA</b></p>
                <p>Antonio Varas 666, Quebec</p>
                <p>1 819 821-7000</p>
            </article>
        </div>
        <hr>
        <p><i>Copyright © Centro de Estudios Montreal - @DateTime.Now.Year</i></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>