@{
    string sesionActual = "";
    string nombre = "";

    if (Session["SesionActual"] != null)
    {
        sesionActual = Session["SesionActual"].ToString();
    }

    if (Session["Nombre"] != null)
    {
        nombre = Session["Nombre"].ToString();
    }
}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title - C.E.M.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device−width, user-scalable=no, initial−scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/CEMTemplate.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">
    <script src="~/Scripts/main.js"></script>
    <link rel="shortcut icon" href="~/imagenes/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/imagenes/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    

</head>
<body>
    <header>
        <a href="/">
            <h1 class="logoTitulo"><img alt="Logo CEM" src="~/imagenes/logo-cem.png" height="60" width="60" /> Centro de Estudios Montreal</h1>
        </a>
        <nav class="menu">
            <div class="container">
                <div id="myNavbar">
                    <ul class="nav navbar-nav">
                        @{
                            if (Session["SesionActual"] != null)
                            {
                                var ruta = "~/Views/Shared/Partials/";
                                if (Session["SesionActual"].ToString() == "Administrador")
                                { @Html.Partial(ruta + "_admin.cshtml");
                                }
                                if (Session["SesionActual"].ToString() == "Alumno")
                                { @Html.Partial(ruta + "_alumno.cshtml");
                                }
                                if (Session["SesionActual"].ToString() == "Familia")
                                { @Html.Partial(ruta + "_familia.cshtml");
                                }
                                if (Session["SesionActual"].ToString() == "EncargadoCEM")
                                { @Html.Partial(ruta + "_encargadocem.cshtml");
                                }
                                if (Session["SesionActual"].ToString() == "EncargadoCEL")
                                { @Html.Partial(ruta + "_encargadocel.cshtml");
                                }
                            }
                        }
                    </ul>
                    @if (!nombre.IsEmpty())
                    {
                        <ul class="nav navbar-nav navbar-right ">
                            <li style="color:orangered"><b> Bienvenido, @nombre</b><span class="glyphicon glyphicon-log-out"></span> @Html.ActionLink("Cerrar sesion", "LogOut", "Home")
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right ">
                            <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
        @if (TempData["success"] != null)
        {
            <div class="alert success" align="center">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @Html.Encode(TempData["success"])
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert" align="center">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @Html.Encode(TempData["error"])
            </div>
        }
        @if (TempData["info"] != null)
        {
            <div class="alert info" align="center">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @Html.Encode(TempData["info"])
            </div>
        }

    </header>
    <div align="center" class="contenidoCentral">
       
        @RenderSection("ContenidoCentral", false)
        @RenderBody()
    </div>
    <footer class="text-center">
            <div  style="width:330px; margin:auto;">
                <br />
                <p><b>DIRIGETE A LA OFICINA MÁS CERCANA</b></p>
                <p>Antonio Varas 666, Quebec</p>
                <p>1 819 821-7000</p>
            </div>

            <div style="width:330px; margin:auto;">
                <br />
                <p><b>¿Tienes dudas, sugerencias o reclamos?</b></p>
                <p>Escribenos a: contacto@cem.com</p>

            </div>
            <hr>
            <div style="width:330px; margin:auto;">
                <p><i>Copyright © Centro de Estudios Montreal - @DateTime.Now.Year</i></p>
            </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>