@model SistemaGestionCEM.Datos.CENTRO_ESTUDIO_LOCAL

@{
    ViewBag.Title = "Eliminar Centros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>¿Está seguro que desea <b>eliminar</b> el siguiente centro?</h3>
<div>
    <h4>Revise los detalles:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_CENTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_CENTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_DIRECTOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_DIRECTOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_ESPECIALIZACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_ESPECIALIZACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIUDAD.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIUDAD.DESCRIPCION)
        </dd>

    </dl>

    @using (Html.BeginForm("EliminarCentros", "Admin", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Centros", "MostrarCentros")
        </div>
    }
</div>
