@model IEnumerable<SistemaGestionCEM.Datos.USUARIO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string sesionActual = "";
    string nombre = "";

    if (Session["SesionActual"] != null)
    {
        sesionActual = Session["SesionActual"].ToString();
    }

    if (Session["Nombre"] != null)
    {
        nombre = Session["Nombre"].ToString();
    }
}

@section ContenidoCentral
{

    <h2>Bienvenido a su panel administrativo, @nombre</h2>
    <hr />

    <table class="table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRASENNA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO_USUARIO.DESCRIPCION)
            </th>
            <th>
                Acción
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_USUARIO)
                </td>
                <td>
                    **********
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_USUARIO.DESCRIPCION)
                </td>
                <td>
                    @Html.ActionLink("Modificar datos", "Edit", new { id = item.COD_USUARIO }) |
                    @Html.ActionLink("Ver Detalle", "DetalleAlumno", new { id = item.COD_USUARIO }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.COD_USUARIO, @class = "delete"})
                </td>
            </tr>
        }
        </table>

}



